* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 56px;
}

.left-section {
    display: flex;
    align-items: center;
    color: black;
    gap: 10px;
    flex: 1;
}

.logo {
    width: 40px;
    height: 40px;
} 

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 50px;
    padding: 8px 12px;
    width: 240px;
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    opacity: 0.6;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 15px;
    width: 100%;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.nav-item {
    padding: 12px 45px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    transition: background-color 0.2s;
}

.nav-item:hover {
    background-color: #f0f2f5;
}

.nav-item.active {
    border-bottom: 3px solid #1877f2;
}


.nav-item img {
    width: 24px;
    height: 24px;
    opacity: 0.6;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    justify-content: flex-end;
}

.icon-box {
    width: 40px;
    height: 40px;
    background-color: #e4e6eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.icon-box:hover {
    background-color: #d8dadf;
}

.icon-box img {
    width: 20px;
    height: 20px;

}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}